# Hugo Files
public/
themes/
resources/
.Hugo/
.hugo_build.lock

# OS specific files
.DS_Store
Thumbs.db

# Build artifacts
*.log
*.tmp
*.bak
*.orig
*.rej

#Wrangler
.Wrangler
node_modules

# Custom files
Makefile
publish.sh
drafts/
.env