backend:
  name: github
  repo: a-franca/website
  branch: main
  base_url: https://sveltia-cms-auth.abf-li.workers.dev
  commit_messages:
    create: "Add new content: {{slug}}" 
    update: "Update content: {{slug}}"
    delete: "Delete content: {{slug}}" 
    uploadMedia: Upload “{{path}}”
    deleteMedia: Delete “{{path}}”

show_preview_links: false

site_url: https://abf.li
logo_url: https://abf.li/images/feature/brutal-logo.webp

publish_mode: editorial_workflow
media_folder: static/uploads/images
public_folder: uploads/images

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"

editor:
  preview: true

collections:

  - name: "home"
    label: "Homepage"
    icon: "house"
    files:
      - file: "content/_index.md"
        label: "Homepage"
        name: "home"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Draft", name: "draft", widget: "boolean"}
          - {label: "Content", name: "body", widget: "markdown"}
  # - name: "posts-list"
  #   label: "Posts Index"
  #   icon: "wysiwyg"
  #   files:
  #     - file: "content/posts/_index.md"
  #       label: "Posts"
  #       name: "posts"
  #       fields:
  #         - {label: "Title", name: "title", widget: "string"}
  #         - {label: "Description", name: "description", widget: "text"}
  #         - {label: "Date", name: "date", widget: "datetime"}
  #         - {label: "Draft", name: "draft", widget: "boolean"}
  #         - {label: "Content", name: "body", widget: "markdown"}
  # - name: "notes-list"
  #   label: "Notes Index"
  #   icon: "wysiwyg"
  #   files:
  #     - file: "content/notes/_index.md"
  #       label: "Notes"
  #       name: "notes"
  #       fields:
  #         - {label: "Title", name: "title", widget: "string"}
  #         - {label: "Description", name: "description", widget: "text"}
  #         - {label: "Date", name: "date", widget: "datetime"}
  #         - {label: "Draft", name: "draft", widget: "boolean"}
  #         - {label: "Content", name: "body", widget: "markdown"}

  - name: "page"
    label: "Single Pages"
    folder: "content/pages"
    path: "{{slug}}/index"
    icon: "pages"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Draft", name: draft, widget: boolean, default: true}
      - {label: "Content", name: "body", widget: "markdown"}

  - name: "post"
    label: "All Posts"
    folder: "content/posts"
    path: "{{year}}/{{slug}}/index"
    icon: "post_add"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Tags", name: "tags", widget: "list"}
      - {label: "Draft", name: draft, widget: boolean, default: true}
      - {label: "Content", name: "body", widget: "markdown"}

  - name: "note"
    label: "All Notes"
    folder: "content/notes"
    path: "{{year}}/{{year}}{{month}}{{day}}-{{hour}}{{minute}}/index"
    icon: "edit_note"
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string", default: "dd Month YYYY at hh:mm"}
      - {label: "Date", name: "date", widget: "datetime"}
      - {label: "Tags", name: "tags", widget: "list", default: ["notes"], required: false}
      - {label: "Draft", name: draft, widget: boolean, default: false}
      - {label: "Content", name: "body", widget: "markdown"}

  - name: "blogroll"
    label: "Blogroll List"
    icon: "rss_feed"
    files:
      - name: "blogroll"
        label: "blogroll.json"
        file: "data/blogroll.json"
        fields:
          - name: members
            label: Members
            label_singular: Member
            widget: list
            root: true
            fields:
              - name: name
                label: Name
              - name: link
                label: Website
              - name: rss
                label: RSS Feed
              - name: description
                label: Description