{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ $postsByMonth := $posts.GroupByDate "2006" }}
{{ range $index, $element := sort $postsByMonth "Key" "desc" }}
<details {{ if eq $index 0 }}open{{ end }}>
  <summary>~{{ $element.Key }}</summary>
  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th style="text-align: center; white-space: nowrap;">Published</th>
      </tr>
    </thead> 
    <tbody>
      {{ range $element.Pages }}
      <tr>
        <td>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </td>
        <td style="text-align: center; white-space: nowrap; width: 50px;">
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</details>
{{ end }}