{{ $base := resources.Get "opengraph/base.png" }}
{{ $descFont := resources.Get "opengraph/DMSans-Regular.ttf"}}
{{ $titleFont := resources.Get "opengraph/Kollektif-Regular.ttf"}}

{{ $og_img := $base.Filter (images.Text "Blog Post" (dict
    "color" "#545454"
    "size" 50
    "linespacing" 2
    "x" 95
    "y" 270
    "font" $descFont
    ))
}}
{{ $og_img = $og_img.Filter (images.Text .Page.Title (dict
    "color" "#227c9d"
    "size" 70
    "linespacing" 10
    "x" 95
    "y" 340
    "font" $titleFont
    ))
}}
{{ $og_img = $og_img.Filter (images.Text .Site.Params.User.mastodonHandle (dict
    "color" "#545454"
    "size" 45
    "linespacing" 2
    "x" 218
    "y" 116.2
    "font" $descFont
    ))
}}

{{ $og_img = resources.Copy (path.Join .Page.RelPermalink "og.png") $og_img }}
{{ return $og_img }}