<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.General.description }}{{ end }}">
<meta name="author" content="{{ .Site.Params.User.name }}">
<link rel="license" href="{{ "/#license" | absURL }}">
<link rel="canonical" href="{{ .Permalink }}">

<!-- Mastodon author -->
<meta name="fediverse:creator" content="{{ .Site.Params.User.mastodonHandle }}" />

{{ partial "favicon.html" . }}

<!-- Include CSS file -->
<link rel="preload" href="{{ "css/style.css" | relURL }}" as="style" />
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

{{ partial "opengraph.html" . }}

<!-- Feeds -->
<link rel="alternate" type="application/rss+xml" href="{{ .Site.Params.General.rssFeed | absURL }}" title="{{ .Site.Title }}'s RSS Feed">
<link rel="alternate" type="application/rss+xml" href="{{ .Site.Params.General.notesFeed | absURL }}" title="{{ .Site.Title }}'s Notes Feed">
<link rel="blogroll" type="text/xml" href="/blogroll.opml">

<!-- Sitemap -->
<link rel="sitemap" type="application/xml" href="{{ .Site.Params.General.sitemap | absURL }}" title="Sitemap">

<!-- Darktheme -->
<meta name="color-scheme" content="dark light">