<!-- Open Graph integration -->
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else if (in .Permalink "/notes/") }}{{ "My microblog-like posts" }}{{ else }}{{ .Site.Params.General.description }}{{ end }}">
<meta property="og:image" content="{{ .Site.Params.General.Seo.featureImage | absURL }}">
<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:type" content="{{ if or (in .Permalink "/posts/") (in .Permalink "/notes/") }}article{{ else }}website{{ end }}">
<meta property="article:published_time" content="{{ if .Date }}{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}{{ else }}{{ now.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}">

<!-- Twitter integration -->

<meta name="twitter:card" content="{{ if (in .Permalink "/notes/") }}{{ "summary" }}{{ else }}{{ "summary_large_image"}}{{ end }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else if (in .Permalink "/notes/") }}{{ "My microblog-like posts" }}{{ else }}{{ .Site.Params.General.description }}{{ end }}">
<meta property="twitter:image" content="{{ .Site.Params.General.Seo.featureImage | absURL }}">
<meta name="twitter:url" content="{{ .Permalink }}">

<!-- JSON Linked Data -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "{{ if or (in .Permalink "/posts/") (in .Permalink "/notes/") }}article{{ else }}website{{ end }}",
    "name": "{{ .Title }}",
    "headline": "{{ .Title }}",
    "description": "{{ if .Description }}{{ .Description }}{{ else if (in .Permalink "/notes/") }}{{ "My microblog-like posts" }}{{ else }}{{ .Site.Params.General.description }}{{ end }}",
    "url": "{{ .Permalink | jsonify}}",
    "datePublished": "{{ if .Date }}{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}{{ else }}{{ now.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}",
    "image": {
        "@type": "ImageObject",
        "url": "{{ .Site.Params.General.Seo.featureImage | absURL }}",
        "width": {{ .Site.Params.General.Seo.featureWidth }},
        "height": {{ .Site.Params.General.Seo.featureHeight }}
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "url": "{{ .Site.BaseURL }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.General.Seo.logo | absURL }}",
            "width": {{ .Site.Params.General.Seo.logoWidth }},
            "height": {{ .Site.Params.General.Seo.logoHeight }}
        }
    },
    "author": {
        "@type": "Person",
        "name": "{{ .Site.Params.User.name }}",
        "url": "{{ .Site.BaseURL }}",
        "sameAs": [{{ .Site.Params.User.mastodonUrl }}, {{ .Site.Params.User.gitProfile }}],
        "image": {
            "@type": "ImageObject",
            "url": "{{ .Site.Params.User.Avatar.picture | absURL }}",
            "width": {{ .Site.Params.User.Avatar.pictureWidth }},
            "height": {{ .Site.Params.User.Avatar.pictureHeight }}
        }
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Site.BaseURL }}"
    }
}
</script>
