<!-- After Article Contact Section-->
    <div class="after-article">
        <p class="notice"><strong>Questions, comments or concerns?</strong><br>Please share your thoughts through <a href="mailto:{{ .Site.Params.User.email }}?subject=Re: {{ .Title | htmlEscape }}">Email</a>, <a href="{{ .Site.Params.User.mastodonUrl }}" rel="me noopener" target="_blank">Mastodon</a>, or <a href="{{ .Site.Params.User.blueskyUrl }}" rel="me noopener" target="_blank">Bluesky</a>.</p>
    </div>
<!-- End of After Article Contact Section -->