<!-- Search Block -->
<script src="/js/lunr-min.js"></script>

<script>
    {{ $counter := 0 }}
    var documents = [
        {{ $pages := where .Site.RegularPages "Section" "posts" }}
        {{ $total := len $pages }}
        {{ range $index, $page := $pages }}
        {
            "id": {{ $counter }},
            "url": "{{ .Permalink }}",
            "title": "{{ .Title }}",
            "body": "{{ .Summary | plainify }}"
        }
        {{ $counter = add $counter 1 }}
        {{ if lt (add $index 1) $total }},{{ end }}
        {{ end }}
    ];

    var idx = lunr(function () {
        this.ref('id')
        this.field('title')
        this.field('body')

        documents.forEach(function (doc) {
            this.add(doc)
        }, this)
    });
    function lunr_search(term) {
        document.getElementById('lunrsearchresults').innerHTML = '<ul></ul>';
        if(term) {
            document.getElementById('lunrsearchresults').innerHTML = '<p>Search results for "<b>' + term + '</b>"</p>' + document.getElementById('lunrsearchresults').innerHTML;
            //put results on the screen.
            var results = idx.search(term);
            if(results.length>0){
                //if results
                for (var i = 0; i < results.length; i++) {
                    // more statements
                    var ref = results[i]['ref'];
                    var url = documents[ref]['url'];
                    var title = documents[ref]['title'];
                    var body = documents[ref]['body'].substring(0,200)+'...';
                    document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML + "<li class='lunrsearchresult'><a href='" + url + "'><span class='title'>" + title + "</span></a><br><span class='body'>"+ body +"</span></li>";
                }
            } else {
                document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML = "<li class='lunrsearchresult'>No results found...</li>";
            }
        }
        return false;
    }
</script>

<form onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
    <p><input type="text" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Type your search here..." /></p>
</form>
<div id="lunrsearchresults">
    <ul></ul>
</div>

<style>
    /* =============================================================================
    Lunr Search
    ========================================================================== */
    .lunrsearchresult{ padding-bottom: 2rem;}
    .lunrsearchresult .title{ font-weight: bold;}
    input#lunrsearch{ font-size: 100%; padding: 1rem; width: 95%; margin-bottom: 1em;}
</style>
<!-- End of Search Block -->