<h2 id="contact">Elsewhere...</h2>

<ul>
  <li>
    <strong>Email</strong> ~ <a href="mailto:{{ .Site.Params.User.email }}">{{ .Site.Params.User.email }}</a>
  </li>
  <li>
    <strong>Mastodon</strong> ~ <a href="{{ .Site.Params.User.mastodonUrl }}" rel="me noopener" target="_blank">{{ .Site.Params.User.mastodonHandle }}</a>
  </li>
  <li>
    <strong>Git</strong> ~ <a href="{{ .Site.Params.User.gitProfile }}" rel="me noopener" target="_blank">{{ .Site.Params.User.gitProfile }}</a>
  </li>
</ul>