<div id="latest-posts">
  <table>
    <thead>
      <tr>
        <th>Latest Posts</th>
        <th style="text-align: center; white-space: nowrap;">Published</th>
      </tr>
    </thead> 
    <tbody>
      {{ range first 10 (where .Site.RegularPages "Section" "posts") }}
      <tr>
        <td>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </td>
        <td style="text-align: center; white-space: nowrap; width: 50px;">
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </td>
      </tr>
      {{ end }}
      <tr>
        <td>
          &#8618; See <a href="{{ "/posts/" }}">Archive</a> for older posts.
        </td>
        <td></td>
      </tr> 
    </tbody>
  </table>
</div>